.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.editor-container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
}
